/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
//  padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

.bg-1 { background-color: $mycolor-1; }
.bg-2 { background-color: $mycolor-2; }
.bg-3 { background-color: $mycolor-3; }
.bg-4 { background-color: $mycolor-4; }
.bg-5 { background-color: $mycolor-5; }

.fg-1 { color: $mycolor-1; }
.fg-2 { color: $mycolor-2; }
.fg-3 { color: $mycolor-3; }
.fg-4 { color: $mycolor-4; }
.fg-5 { color: $mycolor-5; }

.navbar {
    color: white;
}
.typoimg {
  width: 600px;
  margin-bottom: 20px;
}

.bottommargin {
  margin-bottom: 120px;
}

.iconen { color: $mycolor-5; } 

/* LOGO PAGINA
-------------------------
*/

.logofoto {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* KLEUR PAGINA
-------------------------
*/
.colorimg {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.tekstkleur {
text-align: center;
}
/* TOEPASSINGEN PAGINA
-------------------------
*/
.toepassingenimg{
  width: 350px;
}

.toepassingen {
  width: 800px;
  padding: 30px;
  background-color: $color-grey-1;
  margin-bottom: 35px;
}

.toepassingenmargin {
  margin-top: Opx;
}

.tekstlinks{
  
}
.downloadbtn
{
  color:$mycolor-5;
}

.downloadknop {
  background-color:$mycolor-5;
  color: white;
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-5; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$color-grey-2; 
  }
}